<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				function generar(){
					var nUsuario = document.getElementById('sesionUser').value;
					$.ajax({
						type: "GET",
						url: "/aleatorio",
						data:{
								"sesionU":nUsuario
						},
						success: function(data) {
							var obj=jQuery.parseJSON(data);
							var resp="<table border='2'><tr><td>Ritmo cardiaco</td><td>"+obj.RR+
							"</td></tr><tr><td>Variabilidad del ritmo cardiaco</td><td>"+obj.HR+"</table>";
							$("#datos").html(resp);
						}
					});
				}
				
				$('#consultar').click(function(){
					$.ajax({
						type: "GET",
						url: "/consultarT",
						success: function(data) {
							$("#mostrardatos").html(data);
						}
					});
				});
				
				$('#consultarsesion').click(function(){
					var nUsuario = document.getElementById('sesionBuscada').value;
					$.ajax({
						type: "GET",
						url: "/consultarS",
						data:{
								"sesionB":nUsuario
							},
						success: function(data) {
							$("#mostrarsesion").html(data);
						}
					});
				});
				setInterval(generar,2000); 
			});
		</script>
	</head>
	<body>
		<h2>{{titulo}}</h2>
		<br>
		<p>Numero de sesion: <input type="text" id="sesionUser"></p>
		<br>
		<div id="datos"></div>
		<br>
		<p>Numero de sesion: <input type="text" id="sesionBuscada"></p>
		<br>
		<button id="consultar">Consultar</button>
		<button id="consultarsesion">Consultar Sesion</button>
        <br><br>
		<div id="mostrardatos"></div>
		<div id="mostrarsesion"></div>
	</body>
</html>
